# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# env files
.env
.env.*
!.env.example

# prisma
packages/database/src/generated/

# testing
coverage/
playwright-report/
test-results/
.nyc_output/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# misc
.cache/
